Source: rts5139
Section: kernel
Priority: optional
Maintainer: Star Labs <admin@starlabs.systems>
Build-Depends: debhelper-compat (= 13), dh-sequence-dkms
Rules-Requires-Root: no
Standards-Version: 4.6.0

Package: rts5139-dkms
Architecture: all
Depends: ${misc:Depends}, dkms
Provides: rts5139
Description: Advanced Realtek Card Reader driver
